<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head %}
            <script type="text/javascript" src="/resources/javascript/jquery-1.11.2.min.js"></script>
            <script type="text/javascript" src="/resources/javascript/amcharts/amcharts.js"></script>
            <script type="text/javascript" src="/resources/javascript/amcharts/serial.js"></script>
            <link rel="stylesheet" type="text/css" href="/resources/css/reset.css" />
            <link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
            <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
            <title>{% block title %}{% endblock %} - Stop Podcasting Yourself DB</title>
            {% block extrahead %}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <div class="wrapper">
        <header><a href="/">Stop Podcasting Yourself DB</a></header>
        <section class="content">{% block content %}{% endblock %}</section>
        <footer></footer>
    </div>
    </body>
</html>